<header class="navbar">
    <div class="nav-left">
        <span class="logo">🌿 TreeShop</span>
    </div>

    <div class="nav-right">
        <a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">
            🌳 TreeShop
        </a>
        <a href="/about" class="<%= currentPage === 'about' ? 'active' : '' %>">
            👤 About me
        </a>
    </div>
</header>